.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 220px;
}

.form-control label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
}

.form-input {
  border-radius: 8px;
  margin-bottom: 8px;
  height: 24px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  background-color: azure;
}

.form-input:active {
  border-color: #61dafb;
}

.form-errormsg {
  margin: 0;
  font-size: 14px;
  color: rgb(236, 70, 70);
}

.form-submitbtn {
  width: 120px;
  padding: 8px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
